body {
	font-family: "Roboto", "Tahoma", sans-serif;
	font-size: 12px;
	color: #3a3a3a;
	font-weight: normal;
	background-color: #efefef;
}

img {
	max-width: 100%;
	height: auto;
	padding: 5px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
	border-left-color: #555;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

header {
	margin: 15px 0 45px 0;
}

/*.dropdown>.dropdown-toggle {*/
	/*padding-right: 0px;*/
/*}*/

.menu {
	background-color: #fff;
	border: 0;
	border-radius: 0;
	box-shadow: 3px 0 7px rgba(104, 72, 15, .3);
}

.center-nav {
	padding: 12px 0;
}
.center-btn {
	margin: 23px 7px;
}

.navbar-default .navbar-nav > li > a {
	font-size: 16px;
	text-transform: uppercase;
}

.navbar-nav > li.active-link > a {

}

/*.navbar-collapse {*/
	/*float: left;*/
	/*margin-top: 1.5%;*/
/*}*/

.nav {

}

.user-block {
	display: inline-block;
	margin-top: 15px;
}

.search {
	display: inline-block;
	margin-right: 15px;
	margin-left: 20px;
	vertical-align: top;
	cursor: pointer;
	position: relative;
	width: 15px;
	height: 15px;
	background-image: url(../img/search.png);
}

.search:hover {

	background-image: url(../img/search_hover.png);
}

.search:hover::after {
	content: '';
	display: block;
	position: absolute;
	width: 80px;
	height: 53px;
	left: 5px;
	opacity: 0;
	top: 0px;
	left: -55px;
	background-color: #939393;
}

.search form {
	width: 340px;
	height: 84px;
	display: none;
	padding: 90%;
	position: absolute;
	color: #3a3a3a;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	font-weight: normal;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.15);
	top: 48px;
	left: -315px;
}

.search:hover form {
	display: block;
	z-index: 100;
}

.search input {
	width: 310px;
	border-radius: 3px;
	border: 1px solid #3a3a3a;
	font-size: 14px;
	line-height: 24px;
	padding: 15px 15px;
}

.login {
	display: inline-block;
	background-image: url(../img/user-silhouette.png);
	width: 16px;
	height: 16px;
	position: relative;
}

.login:hover {
	background-image: url(../img/user-hover.png);
}

.login form {
	display: none;
	position: absolute;
	width: 350px;
	padding: 19px;
	color: #3a3a3a;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.15);
	top: 48px;
	right: -8px;
	box-sizing: border-box;
	text-align: left;
	z-index: 10;
}

.login:hover > form[name="login-form"] {
	display: block;
	z-index: 100;
}

.login:hover::after {
	content: '';
	display: block;
	position: absolute;
	width: 41px;
	height: 53px;
	left: 5px;
	opacity: 0;
	top: 0px;
	left: -7px;
	background-color: #939393;
}

.login input {
	width: 310px;
	border-radius: 3px;
	border: 1px solid #3a3a3a;
	font-size: 14px;
	line-height: 24px;
	padding: 15px 15px;
	margin-bottom: 20px;
}

.btn {
	border: 1px solid #3a3a3a;
	border-radius: 30px;
	padding: 8px 25px;
	background-color: #fff;
}

.btn:hover {
	background-color: #7cbc9c;
	border: 1px solid #7cbc9c;
	color: #fff;
	font-weight: 700;
}

.form {
	float: right;
	width: 50%;
}

.form a {
	display: block;
	float: right;
	color: #3a3a3a;
	padding: -5px 0;
	padding-right: 8px;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 14px;
}

.form a:hover {
	color: #7cbc9c;
}

.icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	margin-right: 5%;
}

.social {
	display: block;
	margin: 25px auto 0;
	width: 70%;
}

.f {
	background-color: #3b5998;
}

.t {
	background-color: #4099ff;
}

.o {
	background-color: #ed812b;
}

.vk {
	background-color: #45668e;
}

.p {
	background-color: #cb2027;
}



.open {
	display: block;
}

.text-block {
	float: left;
	background-color: #ffffff;
	padding: 30px;
	padding-bottom: 0;
	max-width: 50%;
	border-radius: 0 3px 3px 0;
	/*min-height: 300px;*/
}

.text-block h1 {
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
	color: #000000;
}

.text-block p {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #383838;
	margin: 0;

}

img {
	padding: 0;
	margin: 0;
	max-height: 304.05px;
}

.img-text {
	/*margin-bottom: 42px;*/
	/*margin-right: 10px;*/
}

.img-text img {
	float: left;
	width: 50%;
}

.mini-title {
	display: inline-block;
	font-size: 10px;
	margin: 0;
	padding: 2px 10px;
	/*-webkit-border-radius: 50%;*/
	/*-moz-border-radius: 50%;*/
	border-radius: 15px;
}
.mini-title.recipe {
	color: #ef6262;
	border: 1px solid #ef6262;
}
.mini-title.health {
	color: #7cbc9c;
	border: 1px solid #7cbc9c;
}
.mini-title.product {
	color: #d9bc58;
	border: 1px solid #d9bc58;
}

.margin-top {
	margin-top: 30px;
}

.title {
	display: inline-block;
	font-size: 22px;
	line-height: 24px;
	color: #383838;
	font-weight: 500;
	margin: 30px 0;
	text-transform: uppercase;

}



.img-block img {
	margin-top: 30px;
}

.text-only {
	min-width: 356.078px;
}

.recipe-block {
	background-color: #ffffff;
	min-height: 340px;

	/*max-width: 290px;*/
}

.recipe-block.img-only {
	padding: 0;
	margin: 15px;
}

.recipe-block img {
	display: inline-block;


	/*max-width: 290px;*/
}

@media all and (min-width: 1200px) {
	.text-block {
		min-height: 304.047px;
	}
}

/* Large Devices, Wide Screens col-lg */
@media all and (max-width: 1200px) {
	.text-block {
		min-height: 249.98px;
		padding: 20px;
		padding-bottom: 0;
	}

	.text-block h1 {
		font-size: 20px;
		line-height: 24px;
		margin-top: 10px;
	}
	.text-block p {
		font-size: 14px;
		line-height: 18px;
	}
}

/* Medium Devices, Desktops col-md */
@media all and (max-width: 992px) {
	.text-block {
		min-height: 291.891px;
		padding: 20px;
		padding-bottom: 0;
	}
	.text-block h1 {
		font-size: 22px;
		line-height: 28px;
		margin-top: 10px;
	}
	.text-block p {
		font-size: 16px;
		line-height: 20px;
	}

	.img-only img {
		margin-top: 30px;
	}
}

/* Small Devices, Tablets col-sm */
@media only screen and (max-width: 767px) {
	.img-text img {
		width: 40%;
		min-height: 304px;
	}

	.text-block {
		max-width: 60%;
		min-height: 304px;
	}
	.text-block h1 {
		font-size: 18px;
		line-height: 26px;
		margin-top: 10px;
	}
	.text-block p {
		font-size: 14px;
		line-height: 20px;
	}
}

/* Extra Small Devices, Phones col-xs */
@media only screen and (max-width: 480px) {
	.img-text img {
		display: block;
		width: 100%;
	}

	.text-block {
		max-width: 100%;
	}

	.text-block h1 {
		font-size: 22px;
		line-height: 28px;
		margin-top: 10px;
	}
	.text-block p {
		font-size: 16px;
		line-height: 20px;
	}

	.img-only img {
		width: 100%;
	}
}